:root {
    --light_tone_1: #2B8099;
    --light_tone_2: #59C0C5;
    --light_tone_3: #A8E0CA;
    --light_tone_4: #EEF1EA;
    --light_tone_5: #fcfcfc;
    --light_tone_6: #e9e9e9;
    --dark_tone_1: #0b132b;
    --dark_tone_2: #1c2541;
    --dark_tone_3: #3a506b;
    --dark_tone_4: #5bc0be;
    --dark_tone_5: #6fffe9;
    --default_margin: 30px;
}

* {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    margin: 0;
    padding: 0;
    color: black;
    outline: 0;
    border: 0;
}

/* for all screens, use 14px font size */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light_tone_6); /* Default: light mode */
    color: black; /* Text color for light mode */
    min-width: 480px;
}

body.dark-mode {
    background-color: var(--dark_tone_1);
    color: var(--dark_tone_5);
}

#TRAILERS {
    width: 80%;
    margin: 0 auto;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    overflow:hidden;
}

#TRAILERS_TITLE {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    text-align:center;
    background-color: purple;
    border-radius: 10px;
}

#FOOTER {
    color: white;
    background-color: darkseagreen;
    width: calc(100% - 20px * 2);
    padding: 20px;
}

#FOOTER p {
    margin: 0 0 10px 0;
}

/* Scroll bar */
body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: orange; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
}
