:root {
    --number_of_news_cards: 4;
    --news_border_size: 4px;
    --news_gap: 30px;
    --news_offset_1: calc( 50px + 20px * 2 + 30px * 2);
    --news_offset_2: calc( 70px + 20px * 2 + 30px * 2);
    --news_offset_3: calc( 110px + 20px * 2 + 30px * 2);
}

#NEWS {
    background-color: rgba(0, 0, 0, 0);
    height: calc(100vh - var(--news_offset_1));
    width: 90%;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 420px;
    min-height: 480px;
}

    #NEWS .image-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: var(--news_gap);
        width: 100%;
        min-height: calc(100% - 50px);
        max-height: calc(100% - 50px);
    }

        .image-container .news_card {
            height: calc(100% - 0px * 2);
            border: solid 0px black;
            width: calc(100% / var(--number_of_news_cards) - (var(--news_gap) + var(--news_border_size)) * 2);
            background-color: var(--light_tone_2);
            border-radius: 10px;
            flex-shrink: 0;
            overflow: hidden;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), /* Bottom shadow */
                0px -8px 16px rgba(0, 0, 0, 0.2), /* Top shadow */
                8px 0px 16px rgba(0, 0, 0, 0.2), /* Right shadow */
                -8px 0px 16px rgba(0, 0, 0, 0.2); /* Left shadow */
        }

.news_card .news_banner {
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: center;
}

.news_card .social-widget {
    position:relative;
    width: 192px;
    height: 48px;
    top: -108px;
    left: calc(50% - 106px);
    background-color: purple;
    border-radius: 10px;
    padding: 10px;
}

#NEWS .navigation {
    position: absolute;
    top: 50%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

        #NEWS .navigation button {
            background-color: var(--light_tone_1);
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 50px;
/*            border: solid var(--news_border_size) black;*/
            border-radius: 10px;
        }

    #NEWS .markers {
        background-color: var(--light_tone_1);
        padding: 10px 20px;
/*        border: solid var(--news_border_size) black;*/
        border-radius: 10px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        gap: 5px;
    }

        #NEWS .markers span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }

            #NEWS .markers span.active {
                background-color: blue;
            }

@media screen and (max-width: 1075px) {
    #NEWS {
        height: calc(100vh - var(--news_offset_2));
    }
}

@media screen and (max-width: 550px) {
    #NEWS {
        height: calc(100vh - var(--news_offset_3));
    }
}