#FOCUS {
    width: calc(80% - 40px);
    height: 75vh;
    margin: 0 auto;
    min-width: 400px;
    min-height: 500px;
    background-color: var(--color_tone_4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box_shadow_1);
}

#FOCUS_BODY {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    background-color: wheat;
}

#FOCUS button {
    padding: 20px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    display: block;
    margin: 20px auto; /* Centers the button */
    background-color: var(--color_tone_2);
}